// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

$c-primary: #d0661a;
$c-light: #b5e655;
$c-secondary: #dda069;
$c-secondary-light: #3c2609;
$c-white: #edf7f2;
$c-pure-white: #fff;


$m-gutter: 1rem;
$m-max-width: 60rem;

$font: 'Dosis', sans-serif;

@import 'users';
@import 'resets';
@import 'application';
@import 'message';

.section {
  position: relative;
}

.alert {
  width: 100%;
  padding: 1rem;
  border: 0.2rem solid $c-secondary;
  color: $c-secondary;
  font-size: 1.5rem;
  text-align: center;
}
